:root {
    --kek: #0E65B5;
    --vilagoskek: #2C98FB;
    --sotetkek: #00396E;
    --ratingSarga: #ffc300;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow: hidden;
    color:white;
}

/* Navbar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--kek);
    color: white;
    width: 100%;
}
.title{
    font-size: 1.5rem;
    margin: .5rem;
}
.title a{
    color: white;
    text-decoration: none;
}
.linkek ul{
    display: flex;
}
.linkek li{
    list-style: none;
    margin: 0 5px;
}
.linkek li a{
    text-decoration: none;
    color: white;
    padding: 7px;
    background-color: var(--vilagoskek);
    border-radius: 25px;
    width: 140px;
    display: inline-block;
    text-align: center;
}
.linkek li .active, .linkek li a:hover{
    background-color: var(--sotetkek);
}
.hmenu{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.hmenu .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
/* Navbar vége */

@media (max-width: 550px){
    /* Navbar */
    .hmenu{
        display: flex;
    }
    .linkek{
        display: none;
        width: 100%;
    }
    nav{
        flex-direction: column;
        align-items: flex-start;
    }
    .linkek ul{
        flex-direction: column;
        width: 100%;
        padding: 5px 0;
    }
    .linkek li{
        text-align: center;
    }
    .linkek li a{
        padding: .5rem 1rem;
        display: block;
        border-radius: 8px;
        margin: 2px 0;
        width: 100%;
    }
    .linkek.active{
        display: flex;
    }
    /* Navbar vége */
}
@media (max-width: 650px){
    .container .bkep{
        display: none;
    }
    .container .jobb {
        width: 100%;
        background-image: url('projectImg/login_img.png');
        background-size: cover;
        background-position: center;
        flex: 1;
    }
    .container .jobb .kozep{
        background-color: rgba(255, 255, 255, 0.149);
        border-radius: 10px;
        padding: 20px 0;
    }
    .container .jobb .kozep h1{
        color: white;
        text-shadow: 2px 2px 4px var(--vilagoskek);
    }
    .container .jobb .kozep p a{
        color: white;
        text-shadow: 2px 2px 4px var(--sotetkek);
    }
    .container .jobb .kozep p a:hover{
        color: var(--vilagoskek);
        text-shadow: 2px 2px 2px black;
    }
}

.container{
    width: 100%;
    height: calc(100vh - 43px);
    display: flex;
    flex-direction: row;
}
.container .jobb{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container .jobb h1{
    margin-bottom: 20px;
    text-align: center;
}
.container .jobb form {
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 20px;
}
.container .jobb form input{
    margin: 5px 0 15px 0;
    height: 30px;
    font-size: 16px;
    padding: 5px;
}
.container .jobb form #belepes{
    background-color: var(--kek);
    color: white;
    border: none;
    border-radius: 25px;
    height: 40px;
}
.container .jobb form #belepes:hover{
    background-color: var(--sotetkek);
    cursor: pointer;
}
.container .jobb form p{
    text-align: center;
    margin: 20px 0;
}
.container .jobb form p a{
    color: var(--kek);
    text-decoration: none;
}
.container .jobb form p a:hover{
    color: var(--sotetkek);
}
.container .bkep{
    width: 50%;
    height: 100%;
    object-fit: cover;
}
.hibauzenet{
    text-align: center;
    color: red;
}

/* Főoldal */
.fooldalBody
{
    overflow-y: scroll;
}

.fooldalBody nav ul li
{
    position: relative;
}

.fooldalBody nav ul li a
{
    width: 150px;
}

#hazIkon
{
    position: absolute;
    top:10%;
    left:10%;
}

#regIkon
{
    position: absolute;
    top:10%;
    left:5%;
}

#loginIkon
{
    position: absolute;
    top:10%;
    left:-1%;
}

h1
{
    background-color: var(--kek);
    width: 100%;
    text-align: center;
    padding: 10px;
}

header
{
    height: 20rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

header figcaption
{
    position: absolute;
    top:50%;
    left:38%;
    color:white;
    font-size: 3.5rem;
}

header img
{
    position: fixed;
    top:50%;
    transform: translateY(-50%);
    height: 100%;
    width: 100%;
    z-index: -1;
}

.toplistacontainer
{
    background-color: var(--vilagoskek);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
}

.topBox
{
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-right: 4px solid var(--sotetkek);
    padding:0 10px 0 0;
    gap:30px;
}

.topBox:last-child
{
    border: none !important;
}
.ratingDiv
{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ratingDiv p
{
    color: var(--ratingSarga);
}

.topRatingImg
{
    width: 100%;
}

.keresesDiv
{
    width: 100%;
    background: var(--sotetkek);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.keresesDiv form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 1.3rem;
}

.keresoMezoDiv
{
    font-size: 1.3rem;
    display: flex;
    gap: 30px;
}

.keresoMezoDiv input
{
    border-radius: 20px;
    background-color: var(--vilagoskek);
    border: none;
    font-size: 1.3rem;
}

.buttonsDiv
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 10px;
}

.buttonsDiv button
{
    background-color: var(--vilagoskek);
    border: none;
    font-size: 1.3rem;
    color: white;
    width: 100%;
}

.buttonsDiv button:hover
{
    cursor: pointer;
}

main
{
    width: 100%;
    background-color: var(--kek);
    display: flex;
    justify-content: center;
    align-items: center;
}

.tanarContainer
{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(4,25%);
    justify-items: center;
    align-items: center;
    padding: 10px 50px;
}

.tanarContainer .box
{
    background-color: var(--vilagoskek);
}

.tanarPictureDiv
{
    width: 200px;
    height: 200px;
}

.tanarPicture
{
    width: 100%;
    height: 100%;
}

.tanarInfoDiv
{
    padding:5px 10px;
}

.tanarInfoButton
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
}

.tanarInfoButton button
{
    padding: 10px;
    border-radius: 30px;
    background-color: var(--sotetkek);
    border:none;
}

.tanarInfoButton button a
{
    text-decoration: none;
    color:white
}

.studentImgDiv
{
    width: 100%; 
    height: 20rem;
}


footer
{
    width: 100%;
    background-color: var(--kek);
    padding: 3rem 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer ul
{
    display: flex;
    flex-direction: column;
    gap:30px;
}

footer ul li
{
    list-style: none;
}

footer a
{
    color: white;
    text-decoration: none;
}

.socialOldalak ul
{
    display: flex;
    gap:10px;
}

/* Style all font awesome icons */
.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-github {
    background: #000000;
    color: white;
  }
